.top-wrapper {
  background: url("https://images.unsplash.com/photo-1629587424614-3faadb88b487?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center/cover;
  height: 350px;
  text-align: center;
  margin:0 auto;
}
.container{
    margin:0 auto;
    width: 1180px;
}
.main-title{
    padding-top: 30px;
}

.top-wrapper p{
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    opacity:0.8;
}
.top-wrapper a{
    display: inline-block;
    font-size: 14px;
    color:black;
    text-decoration: none;
    background-color: aliceblue;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.top-wrapper a:hover{
    background-color: #ddd;
    text-decoration: none;
    color: black;
}
main{
    background-color:#f5f1e6;  
}
.section1{
    margin: 50px auto 0 auto;
    width: 1180px;
    text-align: center;
    color: #4b3d2a;
}
.section1 h2{
    border-bottom: 2px solid black;
}
.section1 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.section2{
    margin: 50px auto 0 auto;
    width: 1180px;
    text-align: center;
}
.section3{
    margin: 50px auto 0 auto;
    width: 1180px;
    text-align: center;
}
.section4{
    margin: 50px auto 0 auto;
    width: 1180px;
    text-align: center;
}
.section5{
    margin: 50px auto 0 auto;
    width: 1180px;
    text-align: center;
}
.section6{
    margin: 50px auto 0 auto;
    width: 1180px;
    text-align: center;
}
.section7{
    margin: 50px auto 0 auto;
    width: 1180px;
    text-align: center;
}
